/* google FOnts Link */
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Noto+Serif:ital,wght@0,400;0,600;1,300&family=Rubik+Bubbles&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root Css */
:root {
    --bg-color: rgb(242, 237, 241);
    /* #fee7d8  #e2dcf9 */
    --primary-color: #fff;
    --secandary-color: #a15e8f;
    --call-to-action: #fa741d;
    --padding-inline: .6rem;
    --font-600: 600;
    --font-300: 300;
    --font-400: 400;
    --margin-block: 1.5rem;
    --font-primary: 'Dhurjati';
    --font-secandary: 'Noto+Serif';
    --font-logo: 'Rubik Bubbles';
    --font-primary-color: black;
    --font-secondary-color: #313131;
    --secandary-bg: #e0c9da;
}


/* body CSS */
body {
    background-color: var(--bg-color) !important;

}

/* main NavBar Css */
.main-navbar {
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 1.5rem;
    z-index: 10;
    position: relative;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50px;
    background: var(--bg-color);
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 75% !important;
    height: 3.5rem !important;
    margin-bottom: .78rem;
    margin-top: 3rem;
    position: fixed !important;
}

.main-navbar .brand-name {
    font-family: var(--font-logo);
    font-size: 1.5rem;
}


/* topics-container CSS */
.topics-div::-webkit-scrollbar {
   width: 2px;
   height: 2px;
}

.topics-div::-webkit-scrollbar-thumb {
    background-color: var(--secandary-bg);
   
  }


.topics-div {
    display: flex;
    text-align: center;
    overflow-x: scroll;
    scrollbar-width: 0px !important;
    scrollbar-color: white;
    margin-top: 4rem;
    height: 40px;
}

.topics-div a {
    text-decoration: none;
    color: var(--secandary-color);
    font-family: var(--font-primary);
    font-size: 1.2rem;

}

.item-topic p {
    background-color: var(--secandary-bg);
    border-radius: 25px;
    width: 8rem;
    margin-left: 5px;
    text-align: center;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);

}

/* world-news-section CSS */

.world-news-section {
    margin-block: var(--margin-block);

}

.world-news-section h2 {
    font-family: var(--font-primary);
    color: var(--font-primary-color);
    text-align: center;
    width: 95%;
    background: var(--bg-color);
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin: auto;
    border-radius: 10px 25px;
    border: .2px var(--secandary-color) solid;
    padding-top: .2rem;
}

.world-news-section i {
    color: var(--secandary-color);
}

.news-overflow {
    display: flex;
    overflow-x: scroll;
}

/* customizing the scrollbar */
.news-overflow::-webkit-scrollbar {
    height: 3.5px;
 }
 
 .news-overflow::-webkit-scrollbar-thumb {
     background-color: var(--secandary-bg);
    
   }

.news-container {
    position: relative;
    margin-block: 1.5rem;
    background-color: var(--bg-color);
    padding-inline: var(--padding-inline);
    margin-right: 5px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.extra-details {
    display: flex;
    justify-content: space-between;
}

.extra-details p {
    margin-bottom: 2px;
    margin-top: .3rem;
    font-family: var(--font-primary);
    /* color: var(--secandary-color); */
    color: var(--secandary-color);
    background-color: var(--secandary-bg);
    border-radius: 5px;
    padding-inline: 10px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.extra-details .location {
    font-size: 1.2rem;

}

/* news Details CSS */


.news-data img {
    border-radius: 10px;
    background: transparent;
}

/* news data CSS */

.news-data {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.news-data .title {
    font-family: var(--font-primary);
    font-weight: var(--font-400);
    text-align: justify;
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: var(--font-primary-color);
}

.news-details .abstract {
    font-family: var(--font-primary);
    font-weight: var(--font-300);
    text-align: justify;
    padding-bottom: 1.5rem;
    color: var(--font-primary-color);
}

/* btn-more */

.btn-more {
    width: 25%;
    background-color: var(--bg-color);
    border-radius: 10px 25px;
    border: .2px var(--secandary-color) solid;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.btn-more a {
    text-decoration: none;
}

.btn-more p {
    text-align: center;
    color: var(--font-primary-color);
    margin-bottom: 0px;
    font-family: var(--font-primary);
    font-weight: var(--font-600);
    font-size: 1.2rem;

}


/* Dummy Loading Div */

.load-dummy {
    height: 230px;
}

.load-dummy::after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 230px;
    position: absolute;
    z-index: 10;
    animation: slide 1.5s infinite;
    background: linear-gradient(90deg, rgba(2,2,3,0) 12%, rgba(243,243,245,0.9724264705882353) 100%);
}

/* animation */

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* error CSS */

.error p{
    font-family: var(--font-primary);
}
